@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #212121;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Montserrat", sans-serif;
}

body {
  background: var(--background);
  overflow-x: hidden;
  color: var(--foreground);
  font-family: var(--font-sans);
}
